/* body */
.body-color{
  background-color: #004d79;
}

/* header-box */
nav{
  background-color: #b6e7f3;
}

/* header-logo-box */
.logo{
  margin-top: 1%;
}

/* header-logo-text */
.logo a{
  color: black;
}

.logo h1{
  font-family: colaFont;
  font-size: 40px;
  margin: 0;
  margin-left: 3px;
  padding-left: 0px;
  padding-top: 0;
  padding-right: 2px;
  text-align: left;
}

.logo h2{
  font-family: colaFont;
  font-size: 36px;
  margin: 0;
  margin-top: -44px;
  margin-left: 25px;
  padding-left: 0px;
  padding-top: 0;
  padding-right: 2px;
  text-align: left;
}

.logo h3{
  font-family: oswaldFont;
  font-size: 24px;
  margin: 0;
  margin-top: -41px;
  margin-left: 121px;
  padding-left: 0px;
  padding-top: 0;
  padding-right: 2px;
  text-align: left;
}

.logo p{
  font-family: openSansFont;
  font-size: 8px;
  margin: 0;
  margin-top: 4px;
  margin-left: 13px;
  padding-left: 0px;
  padding-top: 0;
  padding-right: 2px;
  text-align: left;
}

/* header-navbar-box */
.collapse {
  margin-right: 30px; 
}

/* header-navbar-folding img*/
.navbar_cola .navbar-toggler-icon {
  background-image: url(../assets/images/nav-bar.png);
}
/* header-navbar-folding boder*/
.navbar_cola .navbar-toggler {
  border-color: rgb(2, 53, 85);
  border-width: 3px;
}

.navbar_cola .navbar-toggler:hover {
  border-color: #0167d3;
}

/* header-navbar-item */
.navbar_cola .navbar-nav .nav-item > a { 
  color:  rgb(2, 53, 85); 
}

.navbar_cola .navbar-nav > li > a:hover, 
.navbar_cola  .navbar-nav > li > a:focus {
  color: white;
  background-color: rgb(2, 53, 85);
  border: none;
}

.navbar_cola .navbar-nav .nav-item > .active, 
.navbar_cola .navbar-nav > .active > a:hover, 
.navbar_cola .navbar-nav > .active > a:focus {
  color:  white; 
  background-color: rgb(2, 53, 85);
}

/* home page-title box */
.row2{
  background-color: #004d79; 
  border-radius: 5%;
  margin-top: 2%;
  margin-bottom: 5%;

  box-shadow: 0 0 20px rgba(0, 0, 0, 0.4);
}

/* home page-content box */
.row1{
  height: 337px; 
  background-repeat: no-repeat; 
  background-color: rgb(2, 53, 85); 
  border-radius: 5%;
}

/* home page-title text */
.main_content1 {
  text-align: left;
  margin-left: 20%;
  margin-top: 10%;
  margin-bottom: 10%;
  color: rgb(2, 53, 85);
}

.main_content2 {
  text-align: right;
  margin-left: 40%;
  margin-top: 8%;
  padding-bottom: 5%;
  margin-right: 5%;
  color: #b6e7f3;
}

.logo_h4 { 
  font-family: oswaldFont;
  font-size: 72px;
  text-align: left;
  color: #b6e7f3;
}

.main_text_h1 {
  font-family: oswaldFont;
  font-size: 20px;
  margin-top: 5px;
  margin-right: 10px;
  text-align: right;
  color: #b6e7f3;
}

.main_text_h2 {
  font-family: oswaldFont;
  font-size: 12px;
  margin-top: -5px;
  margin-right: 10px;
  margin-bottom: 5px;
  text-align: right;
  color: #b6e7f3;
}

.main_text_p {
  font-family: openSansFont;
  font-size: 5px;
  margin-right: 10px;
  margin-bottom: 5px;
  margin-top: 10px;
  text-align: right;
  line-height: 1.5;
  color: #b6e7f3;
}

/* home page-content text & img & btn */
.card_text_h2 {
  font-family: oswaldFont;
  font-size: 14px;
  color: #b6e7f3;
  text-align: left;
  margin-top: 2%;
}

.card_text_h22 {
  font-family: oswaldFont;
  font-size: 14px;
  color: #b6e7f3;
  text-align: left;
  margin-top: -8%;
}

.card_text_h1 {
  font-family: oswaldFont;
  font-size: 40px;
  color: #b6e7f3;
  text-align: center;
  margin-right: 17%;
  padding-left: 26%;
  margin-top: -2%;
}

.card_text_h11 {
  font-family: oswaldFont;
  font-size: 40px;
  color: #b6e7f3;
  text-align: center;
  margin-left: 26%;
  padding-right: 15%;
  margin-top: 3%;
}

.main_3d_image {
  display: none;
}

.main_3d_image22 {
  display: none;
}
.main_3d_image3 {
  display: none;
}

.img-btn{
  max-width: -webkit-fill-available;
  border-radius: 5%;
}

.img-btn:hover{
  border: 1px solid #fff;
}

/* models page-description-box */
.row3{
  margin-left: -5%;
  margin-right: -5%;
  padding-left: 0;
  padding-right: 0;
}

/* models page-card */
.card-text-left{
  background-color: #004d79;
  border: 2px solid #b6e7f3;
  border-radius: 2%;
  height: 600px;
  margin-top: 10px;
  margin-left: 10px;
  margin-right: 10px;
}

.card-text-right{
  background-color: #004d79;
  border: 2px solid #b6e7f3;
  border-radius: 2%;
  height: 236px;
  margin-top: 10px;
  margin-left: 25px;
  margin-right: 114px;
  margin-bottom: 10px;
}

.card-text-middle{
  background-color: #004d79;
  overflow: hidden;
  border: 2px solid #b6e7f3;
  border-radius: 2%;
  height: 353px;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 10px;
  margin-right: 10px;
}

#card-header {
  padding: 0.75rem 1.25rem;
  margin-bottom: 0;
  border-bottom: 2px solid #b6e7f3;
}

/* models page-btn */
.nav-tabs .nav-link {
  color: white;  
}

.nav-tabs .nav-link:hover {
  background-color: white;
  color: black;
}

/* models page-btn-dropdown menu */
.dropdown-menu {
  font-family: openSansFont;
  text-align: -webkit-left;
  background-color: rgb(2, 53, 85);
}

.dropdown-menu .dropdown-item {
  font-family: openSansFont;
  color: black;
}

.dropdown-menu .dropdown-item:hover {
  color: white;
  background-color: black;
}

/* models page-x3d */
X3D, x3d {
  height: 400px;
  width: auto;
}

/* models page-x3d-text */
.card-text{
  font-family: openSansFont;
  color: #b6e7f3;
  font-size: 13px;
  margin-top: 10px;
}

.card-title{
  font-family: oswaldFont;
  color: #b6e7f3;
  font-size: 42px;
}

.card-subtitle{
  font-family: oswaldFont;
  color: #b6e7f3;
  font-size: 30px;
}

/* models page-gallery */
.gallery-header{
  font-family: oswaldFont;
    font-size: 26px;
    background-color: white;
    color: black;
    border-top-left-radius: 0.25rem;
    border-top-right-radius: 0.25rem;
    margin-bottom: -1%;
    padding-bottom: 1%;
    padding-top: 1%;
    margin-top: 1%;
    padding-left: 3%;
    margin-right: 86%;
}

.img-thumbnail {
  padding: 0rem;
  margin-top: 0px;
  background-color: #fff;
  border: 1px solid #dee2e6; 
  border-radius: 0rem;
  max-width: 100%;
  height: auto;
}

.gallery .img-thumbnail{
  background-color: rgba(255, 255, 255, 0.0);
  padding: 0rem;
  margin: 5px;
  border: 1px solid #dee2e6;
  border-radius: 0.25rem;
  max-width: 21%;
  height: auto;
}

/* footer */
.copyright > p {
  margin: 5px;
  padding-top: 0px;
  width: 100%;
  font-size: 15px;
}

.social {
  margin: 10px;
  padding: 0px;
  width: 30%;   
}

.social > a {
  font-size: 10px;  
}

.fa-twitter-square:before {
  content: "\f081";
  color: black;
  font-size: 1.5em;
}

.fa-github-square:before {
  content: "\f092"; 
  color: black;
  font-size: 1.5em;
}

.fa-google-plus-square:before {
  content: "\f0d4"; 
  color: black;
  font-size: 1.5em;
}

.fa-google-plus-square:before {
  content: "\f0d4"; 
  color: black;
  font-size: 1.5em;
}

.fa-facebook-square:before {
  content: "\f082";
  color: black;
  font-size: 1.5em; 
}

/* font */
@font-face {
  font-family: oswaldFont;
  src: url(../assets/fonts/Oswald-Regular.ttf);
}

@font-face {
  font-family: openSansFont;
  src: url(../assets/fonts/OpenSans-Regular.ttf);
}

@font-face {
  font-family: colaFont;
  src: url(../assets/fonts/LOKICOLA.TTF);
}

@font-face {
  font-family: Bacchus;
  src: url(../assets/fonts/Bacchus-ExtraBold-2.TTF);
}

/* equipment size adaptation */
@media (min-width: 576px) {

  .body-color{
    background-color: #000879;
  }

  nav{
    background-color: #b6bdf3;
  }

  .row2{
    background-color: #000879; 
  }

  .row1{
    height: 290px; 
    background-color: rgb(6, 2, 85); 
  }

  .row3{
    margin-left: -8%;
    margin-right: -8%;
  } 

  .main_content1 {
    margin-left: 20%;
    margin-top: 10%;
    margin-bottom: 10%;
  }
  
  .main_content2 {
    margin-left: 40%;
    margin-top: 22%;
    margin-right: 5%;
  }

  .logo_h4 { /* 标题 */
    font-size: 74px;
  }

  .main_text_h1 {
    font-size: 22px;
    margin-top: 5px;
    margin-right: 10px;
  }

  .main_text_h2 {
    font-size: 14px;
    margin-top: -5px;
    margin-right: 10px;
    margin-bottom: 5px;
  }

  .main_text_p {
    font-size: 7px;
    margin-right: 10px;
    margin-bottom: 5px;
    margin-top: 10px;
  }

  .card_text_h2 {
    font-size: 14px;
    margin-top: 5%;
    margin-left: 5%;
  }

  .card_text_h22 {
    font-size: 14px;
    margin-top: 15%;
    margin-right: 5%;
    padding-left: 5%;
  }
  
  .card_text_h1 {
    font-size: 42px;
    margin-top: 125%;
    margin-left: -41%;
    margin-right: 2%;
    padding-left: 24%;
  }

  .card_text_h11 {
    font-size: 42px;
    margin-top: 120%;
    margin-left: 0%;
    margin-right: -21%;
    padding-right: 0%;
  }
  
  .main_3d_image {
      background-image: url(../assets/images/cola_can.png);
      background-repeat: no-repeat;
      background-size: contain;
      height: 313px;
      width: 240px;
      text-align: right;
      margin-top: -10%;
      margin-left: -10%;
      display: block;
    }

    .main_3d_image22 {
      background-image: url(../assets/images/Sprite_can.png);
      background-repeat: no-repeat;
      background-size: contain;
      height: 320px;
      width: 260px;
      text-align: left;
      margin-top: -10%;
      display: block;
    }

    .main_3d_image3 {
      background-image: url(../assets/images/dr_pepper_can.png);
      background-repeat: no-repeat;
      background-size: contain;
      height: 322px;
      width: 260px;
      text-align: right;
      margin-top: -10%;
      margin-left: -15%;
      display: block;
    }

  .card-text-left{
    background-color: #000879;
    height: 822px;
    margin-top: 10px;
    margin-left: -17px;
    margin-right: -6px;
  }

  .card-text-right{
    background-color: #000879;
    height: 272px;
    margin-top: 10px;
    margin-left: 0px;
    margin-right: -5px;
    margin-bottom: -6px;
  }

  .card-text-middle{
    background-color: #000879;
  }

  .card-text{
    font-size: 11px;
    margin-top: 10px;
  }

  .gallery .img-thumbnail{
    max-width: 13%;
  }
}

@media (min-width: 768px) {

  .body-color{
    background-color: #410079;
  }

  nav{
    background-color: #dbb6f3;
  }

  .row2{
    background-color: #410079; 
  }

  .row1{
    height: 270px; 
    background-color: rgb(53, 2, 85); 
  }

  .row3{
    margin-left: -7%;
    margin-right: -7%;
  } 

  .main_content1 {
    margin-left: 20%;
    margin-top: 10%;
    margin-bottom: 10%;
  }
  
  .main_content2 {
    margin-left: 40%;
    margin-top: 17%;
    margin-right: 5%;
  }

  .logo_h4 { /* 标题 */

    font-size: 76px;
  }

  .main_text_h1 {
    font-size: 24px;
    margin-top: 5px;
    margin-right: 10px;
  }

  .main_text_h2 {

    font-size: 20px;
    margin-top: -5px;
    margin-right: 10px;
    margin-bottom: 5px;
  }

  .main_text_p {
    font-size: 9px;
    margin-right: 10px;
    margin-bottom: 5px;
    margin-top: 10px;
  }

  .card_text_h2 {
    font-size: 14px;
    margin-top: 8%;
    margin-left: 17%;
  }

  .card_text_h22 {
    font-size: 14px;
    margin-top: 16%;
    margin-right: 9%;
  }
  
  .card_text_h1 {
    font-size: 50px;
    margin-top: 64%;
    margin-right: 4%;
    margin-left: -25%;
  }

  .card_text_h11 {
    font-size: 50px;
    margin-top: 60%;
    margin-left: 4%;
    margin-right: -4%;
  }

  .main_3d_image {
      background-image: url(../assets/images/cola_can.png);
      background-repeat: no-repeat;
      height: 320px;
      width: 250px;
      text-align: right;
      margin-top: -10%;
      margin-left: 26%;
      display: block;
    }

    .main_3d_image22 {
      background-image: url(../assets/images/Sprite_can.png);
      background-repeat: no-repeat;
      height: 320px;
      width: 250px;
      text-align: left;
      margin-top: -10%;
      margin-left: -5%;
      display: block;
    }

    .main_3d_image3 {
      background-image: url(../assets/images/dr_pepper_can.png);
      background-repeat: no-repeat;
      height: 320px;
      width: 250px;
      text-align: right;
      margin-top: -11%;
      margin-left: 25%;
      display: block;
    }

  .card-text-left{
    background-color: #410079; 
    height: 825px;
    margin-top: 10px;
    margin-left: -29px;
    margin-right: -6px;
  }

  .card-text-right{
    background-color: #410079; 
    height: 273px;
    margin-top: 10px;
    margin-left: 0px;
    margin-right: -8px;
    margin-bottom: -6px;
  }

  .card-text-middle{
    background-color: #410079; 
  }

  .card-text{
    font-size: 13px;
    margin-top: 4px;
  }

  .gallery .img-thumbnail{
    max-width: 14%;
  }
}

@media (min-width: 992px) {

  .body-color{
    background-color: #790071;
  }

  nav{
    background-color: #f3b6ec;
  }
  
  .row2{
    background-color: #790071; 
  }

  .row1{
    height: 280px; 
    background-color: rgb(84, 2, 85); 
  }

  .row3{
    margin-left: -4%;
    margin-right: -4%;
  } 

  .main_content1 {
    margin-left: 20%;
    margin-top: 10%;
    margin-bottom: 10%;
  }
  
  .main_content2 {
    margin-left: 40%;
    margin-top: 14%;
    margin-right: 5%;
  }

  .logo_h4 { /* 标题 */
    font-size: 78px;
  }

  .main_text_h1 {
    font-size: 26px;
    margin-top: 5px;
    margin-right: 10px;
  }

  .main_text_h2 {
    font-size: 18px;
    margin-top: -5px;
    margin-right: 10px;
    margin-bottom: 5px;
  }

  .main_text_p {
    font-size: 11px;
    margin-right: 10px;
    margin-bottom: 5px;
    margin-top: 10px;
  }

  .card_text_h2 {
    font-size: 16px;
    margin-top: 6%;
    margin-left: 25%;
  }

  .card_text_h22 {
    font-size: 16px;
    margin-top: 15%;
    margin-right: 25%;
  }
  
  .card_text_h1 {
    font-size: 60px;
    margin-top: 37%;
    margin-right: 10%;
    padding-left: 40%;
  }

  .card_text_h11 {
    font-size: 60px;
    margin-top: 33%;
    margin-left: 10%;
    margin-right: 8%;
  }

  .main_3d_image {
      background-image: url(../assets/images/cola_can.png);
      background-repeat: no-repeat;
      background-size: contain;
      height: 340px;
      width: 260px;
      text-align: right;
      margin-top: -7%;
      margin-left: 48%;
      display: block;
    }

    .main_3d_image22 {
      background-image: url(../assets/images/Sprite_can.png);
      background-repeat: no-repeat;
      background-size: contain;
      height: 340px;
      width: 260px;
      text-align: left;
      margin-top: -6%;
      margin-left: -7%;
      display: block;
    }

    .main_3d_image3 {
      background-image: url(../assets/images/dr_pepper_can.png);
      background-repeat: no-repeat;
      background-size: contain;
      height: 340px;
      width: 260px;
      text-align: right;
      margin-top: -8%;
      margin-left: 48%;
      display: block;
    }

  .card-text-left{
    background-color: #790071; 
    height: 700px;
    margin-top: 10px;
    margin-left: -12px;
    margin-right: -15px;
  }

  .card-text-right{
    background-color: #790071; 
    height: 227px;
    margin-top: 10px;
    margin-left: 10px;
    margin-right: 1px;
    margin-bottom: 0px;
  }

  .card-text-middle{
    background-color: #790071; 
  }

  .card-text{
    font-size: 13px;
    margin-top: 10px;
  }

  .gallery .img-thumbnail{
    max-width: 15%;
  }
}

@media (min-width: 1200px) {

  .body-color{
    background-color: #790022;
  }

  nav{
    background-color: #f3b6c8;
  }

  .row2{
    background-color: #790022; 
  }

  .row1{
    height: 280px; 
    background-color: rgb(85, 2, 34); 
  }

  .row3{
    margin-left: 2%;
    margin-right: 2%;
  }  

  .main_content1 {
    margin-left: 20%;
    margin-top: 10%;
    margin-bottom: 10%;
  }
  
  .main_content2 {
    margin-left: 40%;
    margin-top: 12%;
    margin-right: 5%;
  }

  .logo_h4 { /* 标题 */
    font-size: 80px;
  }

  .main_text_h1 {
    font-size: 28px;
    margin-top: 5px;
    margin-right: 10px;
  }

  .main_text_h2 {
    font-size: 20px;
    margin-top: -5px;
    margin-right: 10px;
    margin-bottom: 5px;
  }

  .main_text_p {
    font-size: 13px;
    margin-right: 10px;
    margin-bottom: 5px;
    margin-top: 10px;
  }

  .card_text_h2 {
    font-size: 16px;
    margin-top: 6%;
    margin-left: 25%;
  }

  .card_text_h22 {
    font-size: 16px;
    margin-top: 15%;
    margin-right: 25%;
  }

  .card_text_h1 {
    font-size: 60px;
    margin-top: 27%;
    margin-right: 16%;
    padding-left: 42%;
  }

  .card_text_h11 {
    font-size: 60px;
    margin-top: 25%;
    margin-left: 25%;
  }
  
  .main_3d_image {
      background-image: url(../assets/images/cola_can.png);
      background-repeat: no-repeat;
      height: 400px;
      width: 380px;
      text-align: right;
      margin-top: -15%;
      margin-left: 50%;
      display: block;
    }

    .main_3d_image22 {
      background-image: url(../assets/images/Sprite_can.png);
      background-repeat: no-repeat;
      height: 400px;
      width: 380px;
      text-align: left;
      margin-top: -15%;
      margin-left: -2%;
      display: block;
    }

    .main_3d_image3 {
      background-image: url(../assets/images/dr_pepper_can.png);
      background-repeat: no-repeat;
      height: 400px;
      width: 380px;
      text-align: right;
      margin-top: -15%;
      display: block;
    }

  .card-text-left{
    background-color: #790022; 
    height: 701px;
    margin-top: 10px;
    margin-left: -23px;
    margin-right: -78px;
  }
  
  .card-text-right{
    background-color: #790022; 
    height: 230px;
    margin-top: 10px;
    margin-left: 80px;
    margin-right: -7px;
    margin-bottom: -4px;
  }

  .card-text-middle{
    background-color: #790022; 
    margin-left: -61px;
    margin-right: -61px;
    height: 374px;
  }

  .card-text{
    font-size: 13px;
    margin-top: 10px;
  }

  .gallery .img-thumbnail{
    max-width: 15%;
  }
}